{% extends "prehrana/base.html" %}
{% load static %}
{% block content %}

    <script>
        document.getElementById("index").style.backgroundColor = "#4CAF50";
        window.addEventListener("load", init, false);
    </script>

    <div class="flex-container">

        <div class="column1">
            <div>

                {% include "prehrana/includes/search_form.html" %}

                <br>
                <div class="search-container">
                    <h2>Priporočamo:</h2>
                    <a class="fill" href="/locals/1">
                        <img src="{% static "prehrana/img/oglas.jpg"%}" title="Oglaševana gostilna" alt="Oglaševana gostilna">
                    </a>
                </div>
            </div>
        </div>
        <div class="column2">
            <h2>Priljubljeno:</h2>
            {% include "prehrana/includes/restaurant_list.html" %}

        </div>
    </div>

{% endblock %}
