{% extends "prehrana/base.html" %}
{% load static %}
{% block content %}
    <script>
        window.addEventListener("load", initLocals, false);
        document.getElementById("local").style.backgroundColor = "#4CAF50";
    </script>

    <form action="search" class="flex-container" id="searchLocalsForm">
        <input required name="localName" type="text" placeholder="Vnesite ime lokala za iskanje"
               class="search input green"
               list="locals" id="searchLocalsInput">
        <datalist id="locals">
            {% for name in restaurant_names %}
                <option value="{{ name }}" id="{{ name }}">
            {% endfor %}
        </datalist>

        <input type="submit" class="search btn green" value="Išči" style="max-width:90px; text-align: center">
    </form>

    <div class="flex-container">

        <div class="column1">

            <div class="search-container local">
                <img src="{% static "prehrana/img/lokal1.png" %}" alt="Slika lokala"/>
                <h3>{{ restaurant.name }}</h3>
                <p hidden class="coordinates">45.957485,14.107477</p>
                <p>naslov: <b>{{ restaurant.address }}</b></p>
                <p>doplačilo: <b>{{ restaurant.price }}€</b></p>
                <p>ocena: <b>{{ restaurant.rating }}</b></p>
            </div>
        </div>

        <div class="column2">
            <div class="search-container" id="map" style="min-height: 405px;"></div>
        </div>
    </div>

    <div class="flex-container buttonGroup" id="selection">
        <a class="search btn green selected" id="menu">Jedilnik</a>
        <a class="search btn green" id="comments">Komentarji</a>
    </div>

    <div class="flex-container" id="food">
        <ul class="list unclickable" id="menu-list" style="display: block">
            <li>
                {% if perms.prehrana.edit_menu %}

                    <form action="" id="commentForm" method="post">
                    {% csrf_token %}
                        <input type="date" name="date" required class = "search area green">
                        <textarea name="food" class="search area green" required cols="60"
                                  placeholder="vnesite jedilnik za izbran datum"></textarea>
                        <input type="submit" class="search btn green" value="Vnesi">

                    </form>

                {% endif %}
            </li>

            {% for menu in menus %}
                <li>
                    <pre>{{ menu.food }}</pre>
                </li>
            {% endfor %}
        </ul>


        <ul class="list unclickable" id="comment-list" style="display: none">

            <li>
                {% if user.is_authenticated %}

                    <form action="" id="commentForm" method="post">
                        {% csrf_token %}
                        <select title="ocena" class="search area green" name="rating"  required>
                            <option value="1">ocena: 1</option>
                            <option value=2>ocena: 2</option>
                            <option value=3>ocena: 3</option>
                            <option value="4">ocena: 4</option>
                            <option value="5">ocena: 5</option>
                        </select>
                        <textarea name="comment" class="search area green" cols="60"
                                  placeholder="če želite, vnesite komentar"></textarea>
                        <input type="submit" class="search btn green" value="Oceni">



                    </form>
                {% else %}
                    <p>Prijavite se za oddajo komentarjev</p>

                {% endif %}
            </li>


            {% for feedback in feedbacks %}
                <li>
                    <b>{{ feedback.user_id.username }}:</b>
                    <ul>
                        <li>
                            <pre>{{ feedback.comment }}</pre>
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBddplbofVTpo0_3xeXmXPsiGsxvwWg8q4&callback=initMap">
    </script>

{% endblock %}
