{% extends "prehrana/base.html" %}

{% block content %}
<div class="flex-container">

    <script>
        document.getElementById("login").style.backgroundColor = "#4CAF50";
    </script>






		<form method="post" action="">
		<p>Obstoječi uporabnik:</p>
			{% csrf_token %}
			<table>
				<tr>
					<td>{{ form.username.label_tag }}</td>
					<td>{{ form.username }}</td>
				</tr>
				<tr>
					<td>{{ form.password.label_tag }}</td>
					<td>{{ form.password }}</td>
				</tr>
		   </table>

		   <input type="submit" value="login" />
	   </form>
	   
	   
	   <form method="post" action="">
	   <p>Nov uporabnik:</p>
			{% csrf_token %}
			<table>
				<tr>
					<td><label for="id_username">Username:</label></td>
					<td><input autofocus="" id="id_username" maxlength="254" name="new_username" type="text" required /></td>
				</tr>
				<tr>
					<td><label for="id_new_password">Password:</label></td>
					<td><input id="id_new_password" name="password" type="password" required /></td>
				</tr>
				<tr>
					<td><label for="id_password_repeated">Password:</label></td>
					<td><input id="id_password_repeated" name="password_repeated" type="password" required onfocusout="validatePassword()"/></td>
				</tr>
		   </table>
	
		   <input type="submit" value="login" />
	   </form>

    <div><p>{{ message }}</p><br></div>

    <script>

        var password = document.getElementById("id_new_password");
        var confirm_password = document.getElementById("id_password_repeated");

        function validatePassword(){
          if(password.value != confirm_password.value) {
            confirm_password.value="";
          }
        }
        console.log(password);
        password.onchange = validatePassword;
        confirm_password.onfocusout = validatePassword;

    </script>


</div>

{% endblock %}
