{% load static %}
{% block content %}


    <ul class="list">
        {% for restaurant in restaurant_list %}
            <li>
                <a href="/locals/{{ restaurant.id }}">
                    <img src={% static "prehrana/img/lokal1.png"%} alt="lokal"/>
                    <h3>{{ restaurant.name }}</h3>
                    <p hidden class="coordinates">{{ restaurant.longitude }},{{ restaurant.latitude }}</p>

                    <p>{{ restaurant.address }}</p>
                    doplačilo: {{ restaurant.price }}€


                    <span class="rating-static rating-{% widthratio  restaurant.rating 1 1 %}"></span>
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}