{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Prehrana</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href={% static 'prehrana/layout.css' %}>
    <script src={% static 'prehrana/scripts.js' %}></script>
</head>
<body>


<header>
    <h1>Študentska prehrana</h1>
    <ul class="menu">
        <li><a href="/index/" id = "index">Domov</a></li>
        <li><a href="/search/" id = "search">Iskanje</a></li>
        <li><a href="/locals/" id = "local">Lokali</a></li>
		
        <li class="right"><a href="/contact/" id = "contact">Kontakt</a></li>

        {% if user.is_authenticated %}
            <li class="right"><a href="/logout/" id = "login">{{ user.username }} : Odjava</a></li>
        {% else %}
            <li class="right"><a href="/login/" id = "login">Prijava</a></li>
        {% endif %}

    </ul>
</header>




{% block content %}
{% endblock %}

<div class="banner"></div>

<footer>Študentska prehrana</footer>


</body>
</html>

