{% extends "prehrana/base.html" %}

{% block content %}
<div class="flex-container">

    <script>
        document.getElementById("contact").style.backgroundColor = "#4CAF50";
    </script>

    <div style="text-align: center;">
        <br>
        <br>
        <br>
        <br>
        <h3>Študentska prehrana</h3>
        <h3>Janez Novak</h3>
        <h3>Tržaska ulica 23</h3>
        <h3>1000 ljubljana</h3>
        <h3>janez@gmail.com</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>

</div>

{% endblock %}
