{% extends "prehrana/base.html" %}

{% block content %}

    <script>
    document.getElementById("search").style.backgroundColor = "#4CAF50";
        window.addEventListener("load", init, false);
    </script>

    <div class="flex-container">
        <div class="column1">

            {% include "prehrana/includes/search_form.html" %}

            <br>
            <div class="search-container" id="map"></div>
        </div>
        <div class="column2">
        <h2>Zadetki:</h2>
        {% include "prehrana/includes/restaurant_list.html" %}

        </div>
    </div>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBddplbofVTpo0_3xeXmXPsiGsxvwWg8q4&callback=initMap">
    </script>

{% endblock %}
