{% load static %}

{% block content %}

    <form class="search-container" id="searchForm">

        <div class="buttonGroup" id="filters">
            <a title="vegetarjanska ponudba" class="search btn green" id="vegi"><img src="{% static "prehrana/icons/icnvegetarian.png" %}"
                                                                                     alt="vegetarjanska ponudba"></a>
            <a title="kosila" class="search btn green" id="lunch"><img src="{% static "prehrana/icons/icnlunch.png"%}"
                                                                                     alt="kosila"></a>
            <a title="pice" class="search btn green" id="pizza"><img src="{% static "prehrana/icons/icnpizza.png"%}"
                                                                                     alt="pice"></a>
            <a title="solatni bar" class="search btn green" id="salad"><img src="{% static "prehrana/icons/icnsaladbar.png"%}"
                                                                                     alt="solatni bar"></a>
            <a title="dostava" class="search btn green" id="delivery"><img src="{% static "prehrana/icons/icndelivery.png"%}"
                                                                                     alt="dostava"></a>
            <a title="hitra hrana" class="search btn green" id="fastfood"><img src="{% static "prehrana/icons/icnfastfood.png"%}"
                                                                                     alt="hitra hrana"></a>
            <a title="prijazno invalidom" class="search btn green" id="wheelchair"><img src="{% static "prehrana/icons/icnwheelchair.png"%}"
                                                                                     alt="prijazno invalidom"></a>
        </div>

        <div class="buttonGroup" id="location">
            <input type="text" placeholder="Vnesite lokacijo" class="search input green"
                   name="lastname" id="locationInput">
            <a class="search btn green" id="locationButton">Zaznaj</a>
        </div>

        <div class="buttonGroup" id="criteria">
            <a class="search btn green" id="criteria1">Najcenejši</a>
            <a class="search btn green" id="criteria2">Najbolj priljubljeni</a>
        </div>

        <div class="buttonGroup" id="search">
            <a class="search btn green" id="searchButton">Išči</a>
            <a class="error" id="searchError"></a>
        </div>

    </form>

{% endblock %}