
body {
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    min-height: 250px;
}

/*custom search gui styles*/
.search-container {
    background-color: #eeeeee;
}

.search-container .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 210px;
}

.search-container .fill img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.search-container.local {
    padding: 20px;
}

.search-container.local img {
    background-color: #eeeeee;
    max-height: 200px;
}

.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.search-container .fill img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.search {
    margin: 3px;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    font-size: 22px;
    transition: .3s;
    display: inline-block;
}

.area {
    font-size: 16px;
    width: 90%
}

.btn:hover {
    cursor: pointer;
}

.green {
    color: #2ecc71;
    border: 2px #2ecc71 solid;
}

input {
    background-color: #eeeeee;
}

.green:hover:not(.selected) {
    color: #fff;
    background-color: #31f993;
    border: 2px #2ecc71 solid;
}

.selected {
    color: #fff;
    background-color: #2ecc71;
    border: 2px #2ecc71 solid;
}

/* navigation styles*/
header {
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
    background: black;
    color: white;
    padding-top: 1px;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.menu li.right,
ul.menu li {
    float: none;
}

ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

ul.menu li a:hover:not(.active) {
    background-color: #111;
}

ul.menu li a.active {
    background-color: #4CAF50;
}



/* starr rating (not my work) */
.rating-static {
    width: 60px;
    height: 16px;
    display: block;
    background: url('http://www.itsalif.info/blogfiles/rating/star-rating.png') 0 0 no-repeat;
    float: right;
    margin-right: 10px;
}

.rating-5 {
    background-position: 0 0;
}

.rating-4 {
    background-position: -12px 0;
}

.rating-3 {
    background-position: -24px 0;
}

.rating-2 {
    background-position: -36px 0;
}

.rating-1 {
    background-position: -48px 0;
}

.rating-0 {
    background-position: -60px 0;
}

h2 {
    background-color: #31f993;
    margin: 0px;
    padding-left: 5px;
}


/*flex container styles for resizing pages*/
.flex-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 1000px;
    margin: auto;
    padding-top: 20px;
}

.flex-container > * {
    flex: 1 0 200px;
}

.column2 {
    flex: 2 100%;
    text-align: left;
    background: #eee;
    margin-top: 20px;
}

/*lower banner and footer*/
.banner {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 50px;
    background-color: #31f993;
}

footer {
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
    background: #aaa;
    color: white;
    padding: 0px;
}


/*list styles (results, favourites, ...)*/
ul.list {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

ul.list li img {
    float: left;
    width: 100px;
    height: auto;
    padding: 5px;
}

ul.list li p, a {
    font-size: 13px;
}

.restaurant-info {
    background: #dedede;
}

ul.list li {
    overflow: auto;
    padding-bottom: 5px;
}

ul a {
    color: inherit;
    text-decoration: none;
}

ul.list li:hover {
    background: #dedede;
    cursor: pointer;
}

ul.list.unclickable li {
    background: #dedede;
    margin-bottom: 10px;
    padding: 10px;
}

ul.list.unclickable li li {
    background: #dedede;
    margin-bottom: 0px;
    padding: 0px;
}

ul.list.unclickable li:hover {
    cursor: default;
}

ul.list li h3, li p {
    margin: 5px;
}

.restaurant-info img {
    float: left;
    width: 200px;
    height: auto;
    padding: 5px;
}


.error {
    color: red;
}

/*when window is wide enough...*/
@media all and (min-width: 20cm) {
    .column1 {
        flex: 7 2;
        order: 2;
    }

    .column2 {
        flex: 5 1;
        order: 2;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-top: 0;
    }

    .banner {
        min-height: 400px;
    }

    footer {
        order: 3;
    }

    ul.menu li {
        float: left;
    }

    ul.menu li.right {
        float: right;
    }

}
